#g-chart {
  overflow: hidden;
  position: relative;
}

.g-legend {
  font: 11px/1.3em sans-serif;
  height: 30px;
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.g-legend .g-pointer {
  width: 150px;
}

.g-node .g-tagList1 {
  fill: #9f81f7;
}

.g-node .g-tagList2 {
  fill: #bca9f5;
}

a.g-label {
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}

.g-label .g-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

.g-overlay,
.g-node,
.g-label {
  -webkit-tap-highlight-color: transparent;
}

