#g-chart {
  overflow: hidden;
  position: relative;
}

.g-legend {
  color: #999;
  font: 11px/1.3em sans-serif;
  height: 30px;
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.g-legend .g-pointer {
  width: 150px;
}

.g-node .g-tagList1 {
  fill: #c5d7ea;
}

.g-node .g-tagList2 {
  fill: #f9caca;
}

a.g-label {
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}

.g-label .g-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

.g-overlay,
.g-node,
.g-label {
  -webkit-tap-highlight-color: transparent;
}

.g-tagList1 a {
  background-color: #c5d7ea;
  color: #4a5783;
}

.g-tagList2 a {
  background-color: #fbdedf;
  color: #734143;
}
